@import 'mixins'; // Asegúrate de que los mixins están disponibles

.navbar-brand {
  color: white !important;
  font-size: 30px;
  font-weight: bold;
  @include flex-center();
  @include font-family('Playwrite NG Modern');
}

.navbar a {
  color: white;
  @include font-family('Playwrite NG Modern');
}

.nav-link:hover {
  color: burlywood;
}

.navbar-brand img {
  width: 80px;
  height: auto;
  margin-right: 10px;
  border-radius: 80%;
}
