@import 'mixins'; 

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .navbar-brand img {
    width: 50px;
    height: auto;
  }

  .navbar-nav .nav-item .nav-link {
    @include responsive-font(14px);
  }

  .carousel-item h1 {
    font-size: 18px;
    margin-top: -50px;
    left: 40px;
  }

  .carousel-item h2 {
    font-size: 18px;
    margin-top: 100px;
    font-size: 18px;
    margin-top: 100px;
    left: 40px;
  }

  .carousel-item p {
    font-size: 18px;
    margin-top: 100px;
    margin-top: -35px !important;
  }

  .carousel-item .boton {
    padding: 10px 15px;
    font-size: 15px;
    margin-top: 130px;
  }

  .carousel-item .boton-redes {
    padding: 10px 15px;
    font-size: 15px;
    margin-top: 130px;
    left: 50%;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .main .contenedor h2 {
    font-size: 24px;
  }

  .main .contenedor p,
  .main .contenedor .boton {
    font-size: 14px;
  }

  .whatsapp img {
    width: 50px;
    height: auto;
  }

  .footer .redes img {
    width: 30px;
    height: auto;
  }
}

@media (min-width: 769px) and (max-width: 1366px) {
  .navbar-brand img {
    width: 75px;
    height: auto;
  }

  .navbar-nav .nav-item .nav-link {
    @include responsive-font(16px);
  }

  .carousel-item h2,
  .carousel-item p,
  .carousel-item .boton {
    font-size: 24px;
    margin-top: 150px;
  }

  .carousel-item .boton {
    padding: 10px 20px;
    font-size: 20px;
  }

  .main .contenedor h2 {
    font-size: 28px;
  }

  .main .contenedor p,
  .main .contenedor .boton {
    font-size: 18px;
  }

  .whatsapp img {
    width: 75px;
    height: auto;
  }

  .footer .redes img {
    width: 40px;
    height: auto;
  }
}

@media (min-width: 1367px) {
  .navbar-brand img {
    width: 100px;
    height: auto;
  }

  .navbar-nav .nav-item .nav-link {
    @include responsive-font(18px);
  }

  .carousel-item h1 {
    font-size: 35px;
    margin-top: -50px;
    left: 750px;
  }

  .carousel-item h2 {
    font-size: 35px;
    margin-top: 180px;
    left: 750px;
  }

  .carousel-item p {
    font-size: 25px !important;
    margin-top: 100px;
    margin-top: -60px !important;
  }

  .carousel-item .boton {
    font-size: 36px;
    padding: 10px 20px;
    top: 58%;
    left: 50%;
  }

  .carousel-item .boton-redes {
    padding: 10px 20px;
    font-size: 24px;
    top: 52%;
    left: 50%;
  }

  .main .contenedor h2 {
    font-size: 32px;
  }

  .main .contenedor p,
  .main .contenedor .boton {
    font-size: 20px;
  }

  .whatsapp img {
    width: 100px;
    height: auto;
  }

  .footer .redes img {
    width: 50px;
    height: auto;
  }
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}