// Colores
$color-primary: rgba(75, 44, 3, 0.945);
$color-secondary: burlywood;
$color-background: #1A1A1A;
$color-text: #fff;
$color-border: gray;

// Fuentes
$font-primary: "Sevillana", cursive;
$font-secondary: Arial, Helvetica, sans-serif;

// Tamaños
$text-size-sm: 14px;
$text-size-md: 18px;
$text-size-lg: 24px;
$text-size-xl: 36px;

// Otros
$spacing-unit: 20px;
