// Colores

$color-primary: #e8b4b8; // Rosa pastel
$color-secondary: #f7cac9; // Rosa claro
$color-background: #fffaf3; // Beige claro
$color-text: #6e4c2b; // Marrón claro
$color-accent: #d4af37; // Dorado
$color-border: #e8b4b8; // Rosa pastel

// Fuentes
$font-primary: "Sevillana", cursive;
$font-secondary: 'Montserrat', Arial, Helvetica, sans-serif;

// Tamaños
$text-size-sm: 14px;
$text-size-md: 18px;
$text-size-lg: 24px;
$text-size-xl: 36px;

// Otros
$spacing-unit: 20px;
